{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}{%endblock %}</title>
  <link rel="canonical" href="{{request.path}}" />
  <link rel="home" href="{% url 'main:home' %}" />
  <meta name="description" content="{% block description %}{% endblock %}">
  <meta name="keywords" content="{% block keywords %}{% endblock %}">

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/icon.jpg' %}">
  <link rel="apple-touch-icon" type="image/jpg" href="{% static 'images/icon.jpg' %}">

  <!-- ================================
    Start CSS
    ================================= -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swiper@7.0.5/swiper-bundle.min.css">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <!-- ================================
    End CSS
    ================================= -->

</head>

<body>
  {% if messages %}
  {% for message in messages %}
  {% if message.tags %}
  <script>alert("{{ message }}")</script> {% endif %}
  {% endfor %}
  {% endif %}
  <!-- ================================
    Start Navigation Bar
    ================================= -->
  <header>
    <div class="headerCol">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-auto">
            <div class="logoCol"><a href="{% url 'main:home' %}"><img src="{% static 'images/logo.png' %}" alt="..."></a></div>
          </div>
          <div class="col">
            <div class="d-md-none">
              <button class="navToggle">
                <span class="navToggle__text">Toggle Menu</span>
              </button>
            </div>
            <div class="navCollapseCol">
              <div class="navCol">
                <ul>
                  <li><a href="{% url 'main:home' %}">Home</a></li>
                  <li><a href="{% url 'main:portfolios' %}">Portfolio</a></li>
                  <li><a href="{% url 'main:blogs' %}">Blog</a></li>
                  <li><a href="{% url 'main:contact' %}">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- ================================
    End Navigation Bar
    ================================= -->

  {% block content %}
  {% endblock %}

  <!-- ================================
    Start Footer
    ================================= -->
  <footer>
    <div class="footerCol">
      <div class="container">
        <ul class="socialCol">
          <li><a href="javascript:void(0)"><img src="{% static 'images/fb.svg' %}" alt="..."></a></li>
          <li><a href="javascript:void(0)"><img src="{% static 'images/insta.svg' %}" alt="..."></a></li>
          <li><a href="javascript:void(0)"><img src="{% static 'images/twitter.svg' %}" alt="..."></a></li>
          <li><a href="javascript:void(0)"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
          <p>Copyright ©{% now 'Y' %} All rights reserved. Designed by Pratik</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- ================================
    End Footer
    ================================= -->

  <!-- ================================
    Start Scripts
    ================================= -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="https://unpkg.com/swiper@7.0.5/swiper-bundle.min.js"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <!-- ================================
    End Scripts
    ================================= -->
</body>

</html>